body {
  display: block;
  background: rgb(47, 47, 47);
}
#mainImg {
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 12px 0;
  border: 1px solid #ffffff;
}
canvas {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#menu {
  margin-bottom: 2%;
  width: 42px;
  height: 42px;
  font-weight: bolder;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 42px;
  background: transparent;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.76); */
}
#mainframe {
  display: block;
}
#navbar {
  display: block;
  margin-top: 21px;
}
#navbar button {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background: transparent;
  text-decoration: none;
  padding: 4px 8px;
}
#gen,#sclp {
  display: inline-block;
  float: left;
  margin-right: 12px;
}
#tag {
  position: absolute;
  font-family: monospace;
  margin: 3% 4%;
  max-width: 500px;
}
#tag h1 {
  font-size: 42px;
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #ffffff;
}
#tag h2 {
  color: #ffffff;
  margin-top: 21px;
}
#tag h3 {
  display: block;
  margin: 0;
  padding: 0;
  color: #ffffff;
}
#tag p {
  max-width: 500px;
  color: #ffffff;
}
.button {
  text-decoration: none;
}
#gen button, #sclp button {
  display: block;
  border-style: none;
  font-weight: bold;
  width: 180px;
  height: 24px;
  margin-bottom: 8px;
  border-radius: 42px;
}
#sclp {
  display: none;
}